<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" href="/css/katex.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	
	<script id="edit-message-template" type="text/template">
		<div class="modal">
			<div class="inner">
				<h2>Editing Message</h2>
				<textarea name="message-editor" id="" cols="30" rows="10">{{message}}</textarea>
				<button class="button btn-primary save">Save</button>
			</div>
		</div>
	</script>
	
	<div class="chat-container">
		
		<header>
			<div class="title"><%= title %></div>
		</header>
		
		<ul class="messages">
			<script id="message-template" type="text/template">
				<li class="message">
					<img src="{{profileUrl}}" alt="User picture">
					<p>{{message}}</p>
					<time>{{postedAt}}</time>
					<div class="edit"><a href="#">Edit</a></div>
				</li>
			</script>
		</ul>
		
		<div class="message-form">
			<textarea name="message" cols="30" rows="5"></textarea>
			<button class="send-message-btn">Send</button>
		</div>
		
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/dom.min.js"></script>
	<script type="text/javascript" src="/js/js.cookie.js"></script>
	<script type="text/javascript" src="/js/moment.min.js"></script>
	<script type="text/javascript" src="/js/api.js"></script>
	<script type="text/javascript" src="/js/user.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>