<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="chat-container">
		
		<header>
			<div class="title"><%= title %></div>
		</header>
		
		<ul class="messages">
			<li class="message msg-sender">Hello</li>
			<li class="message msg-receiver">Hi, there</li>
			<li class="message msg-sender">How are you?</li>
		</ul>
		<div id="user-typing"></div>
		<div class="message-form">
			<textarea name="message" cols="30" rows="5"></textarea>
		</div>
		
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>