<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="new-chat">
		<a href="/chat/new">Create Chat</a>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/dom.min.js"></script>
	<script type="text/javascript" src="/js/js.cookie.js"></script>
	<script type="text/javascript" src="/js/api.js"></script>
	<script type="text/javascript" src="/js/user.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
