@mixin word_wrap(){
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 1000;

	.inner {
		max-width: 50%;
		min-width: 100px;
		margin: auto;
		padding: 20px 40px;
		background-color: #fff;
		box-shadow: 0 2px 2px rgba(0,0,0,0.1);

		textarea {
			margin: 10px 0;
		}
	}
}

.chat-container {
	width: 95%;
	height: 95vh;
	margin: 2.5vh auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);

	header {
		background-color: #9CFFBA;
		height: 40px;
		padding: 5px;
		display: flex;
		align-items: center;

		.title {
			padding: 0.25em 0.5em;
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}

.message{
	display: flex;
	width: 90%;
	margin: 10px 0;
	margin-left: 5%;
}

.user-image{
	margin-right: 10px;
	border-radius: 10%;
	max-height: $user-img-height;
}

.messages {
	height: calc(100% - 40px - 100px);
	overflow: auto;
	background-color: #f2f2f2;
}

.message-footer{
	display:inline;
	color: #7a7a7a;
	font-size: $small-font-size;
}

.message-container {
	margin-bottom: 10px;
	padding: 0.5em 1em;
	padding-right: 0.5em;
	background-color: #fff;
	border-radius: 3px;
	line-height: 1em;
	font-size: $message-font-size;
	position: relative;
	box-shadow: 0 3px #ccc;
	width: 100%;
}

.message-shadow-red {
	box-shadow: 0 3px red;
}

.message-shadow-blue {
	box-shadow: 0 3px blue;
}

.message-shadow-green {
	box-shadow: 0 3px green;
}

.message-shadow-orange {
	box-shadow: 0 3px orange;
}

.main-message{
    display: flex;
}

.message-content{
	@include word-wrap();
    margin-right: 5px;
}

.katex{
	line-height: 1.6em;
	font-size: $latex-font-size;
	display: inline-block;
	margin: 5px 0;
}

.message:nth-child(even) {
    width: 85%;
}

.message-container:after {
	top: 50px;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 0 15px 15px 0;
	margin-top: -15px;
}

.message-form {
    height: 100px;
	position: relative;
	display: flex;
	align-items: flex-end;
	padding: 0 5px;
	background-color: #f2f2f2;
	box-shadow: 0 20px 20px -20px rgba(0,0,0,0.4);
}

.message-actions {
	width: 10%;
	margin: 10px;
}

.message-entry {
    @include word_wrap();
	width: 90%;
    min-height: 30px;
    max-height: 90px;
	display: block;
	font-size: inherit;
	border: none;
	padding: 10px;
	outline: none;
	margin: 10px 20px;
	background-color: #e5e5e5;
	font-family: $font;
	font-size: $input-font-size;
	border-radius: 3px;
    overflow: auto;
}

.message-entry:focus{
	background-color: #fff;
}
