.chat-container {
	
	width: 500px;
	margin: 50px auto;
	background-color: #fff;
	
	header {
		border: 1px solid #f8f8f8;
		padding: 1.5em 3em;
		background-color: #f1f1f1;
		
		
		.title {
			font-size: 1.2em;
		}
	}
	
	.messages {
		height: 400px;
		overflow-y: scroll;
		
		.message {
			padding: 1em 3em;
			border-bottom: 1px solid #f8f8f8;
		}	
	}
	
	.message-form {
		position: relative;
		
		textarea {
			width: 100%;
			max-width: 100%;
			display: block;
			font-size: inherit;
		}
		
	}
	
}
