.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 1000;
	
	.inner {
		max-width: 50%;
		min-width: 100px;
		margin: auto;
		padding: 20px 40px;
	}
}

.chat-container {
	
	width: 80%;
	margin: 20px auto;
	background-color: #d6d6d6;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	
	header {
		padding: 1.5em 3em;
		background-color: #74F2AB;
		
		.title {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
	
	.messages {
		height: 400px;
		overflow-y: scroll;
		background-color: #e5e5e5;
		
		.message {
			width: 80%;
			margin: 20px 10%;
			margin-bottom: 40px;
			padding: 1em 3em;
			background-color: #fff;
			border-radius: 3px;
			line-height: 1.6em;
			font-size: $message-font-size;
			position: relative;
			box-shadow: 0 3px #ccc;
			word-wrap: break-word;
		}
		
		.message:nth-child(2n) {
			width: 70%;
			margin-left: 20%;
		}
		
		.message:after {
			top: 50%;
			right: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #fff;
			border-width: 20px;
			margin-top: -20px;
		}
		
		.message:nth-child(2n):after{
			left: 100%;
			border-right-color: rgba(255,255,255,0);
			border-left-color: #fff;
			margin-right: -500px;
		}
		
	}
	
	.message-form {
		position: relative;
		display: flex;
		align-items: flex-end;
		
		textarea {
			width: 90%;
			max-width: 100%;
			display: block;
			font-size: inherit;
			border: none;
			padding: 10px;
			resize: none;
			outline: none;
			margin: 20px;
			background-color: #f7f7f7;
			font-family: Helvetica, sans-serif;
			font-size: $p-font-size;
			border-radius: 3px;
			margin-right: 0;
		}
		
		.send-message-btn {
			width: 10%;
			height: 60px;
			margin: 20px;
			background-color: #197DFF;
			border: none;
			border-radius: 3px;
			color: #fff;
			font-size: $message-font-size;
			border-bottom: 3px solid #0E468F;
			transition: 0.5s ease background-color;
		}
		
		.send-message-btn:hover {
			background-color: #3C8FFA;
		}
		
	}
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #949494;
}

::-webkit-scrollbar-track {
	background-color: #dedede;
}
