$background-color: #0082AD;
$background-img: "/assets/blurredbackground.jpg";

$font-color: #444;
$font: helvetica, sans-serif;

// Headings
$h1-font-size: 5em;
$h2-font-size: 4em;
$h3-font-size: 3em;
$h4-font-size: 2em;

$blockquote-font-size: 1.5em;
$p-font-size: 1em;
$input-font-size: 1em;
$small-font-size: 0.75em;
$message-font-size: 0.9em;
$latex-font-size: 1.6em;

$user-img-height: 50px;
